.container {
  display: flex;
  justify-content: center;
  margin-top: 3em;
}

.link {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

.link:hover .text {
  text-decoration: underline;
}

.link:hover .logo {
  filter: drop-shadow(1px 1px 1px var(--shadow-low-contrast));
}

.text {
  margin: 0;
  color: var(--grey);
}

.logo {
  height: 1em;
}
